.header{
    background-color: black;
    color: aliceblue;
}
.header a{
    text-decoration: none;
}
.box>h2{
    font-size: 40px;
}

footer{
    background-color: black;
    color: aliceblue;
}
.icons a{
    color: aliceblue;
    font-size: 2.5em;
    margin: 0 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
.icons a:hover{
    text-decoration: none;
    color: cornflowerblue;
}
/* masonry */
inner{
    max-width: 1200px;
}
.inner-item {
    width: 210px;
    margin: 0 5px 5px 0;
    float: left;
	display: inline-block;
	overflow:hidden;
}
.clearFix{
    clear: both;
}
.grid-item--width2 { width: 420px; }
.grid-item--width3 { width: 630px; }
.grid-item--width4 { width: 840px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }